// COLORS
$color-primary: #19B600;
$color-primary-light: #1CC900;
$color-primary-dark: #0F6A00;

$color-secondary: #ff910a;
$color-secondary-light: #ffa333;
$color-secondary-dark: #e07b00;

$color-grey-light-1: #ececec;
$color-grey-light-2: #f5f5f5;
$color-grey-light-3: #fbfbfb;

$color-grey-dark-1: #999;
$color-grey-dark-2: #666;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$font-family: "Roboto",
Helvetica,
sans-serif;
$font-size-normal: 1.75rem;
$font-size-small: 1.6rem;
$font-size-smallest: 1.5rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;
$font-height: 1.5;