.section-contact{
	background-color: $color-grey-light-3;
	display: grid;
	padding: 7.5rem 15rem;
	gap: 5rem;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;

  @media only screen and (max-width: 90rem) {
    padding: 5rem 7.5rem;
    gap: 2.5rem;
	}

  @media only screen and (max-width: 75rem) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
	}

  @media only screen and (max-width: 50rem) {
    padding: 5rem 5rem;
	}

  &__image{
    width: 100%;
    align-self: center;
  }
  
  &__form{
    text-align: center;
    align-self: center;
  }
}

.form {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;

  #details {
    padding-bottom: 10rem;
  }

  #details, .cta {
    grid-column: 1/3;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    background-color: rgba($color-white, 1);
    box-shadow: 0 1px 2px rgba($color-black, .15);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;

    &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
        border-bottom: 3px solid $color-primary-light;
    }

    &::-webkit-input-placeholder {
        color: $color-grey-dark-1;
    }
  }
}