.section-portfolio {
  display: grid;
  padding: 0rem 30rem;
  gap: 2.5rem 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  align-items: center;

  @media only screen and (max-width: 92.5rem) {
    padding: 0rem 15rem;
  }

  @media only screen and (max-width: 70rem) {
    padding: 0rem 7rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @media only screen and (max-width: 50rem) {
    padding: 0rem 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  &-work{

    img{
    width: 100%;
    }
  }
}